<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h3>
 Say Hello!
</h3>
<style>
  h3 {
  font-size: 1.8em;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
</style>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@contact) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :name, class: 'form-control' %>

      <%= f.input :email, class: 'form-control' %>

      <%= f.input :subject, class: 'form-control' %>

      <%= f.input :content, label: "Message", cols:7, rows: 6, class: 'form-control' %>

      <%= f.button :submit, 'Send', class: "btn btn-success" %>
    <% end %>
  </div>
</div>