<h1>Tutor Management App</h1>

<p> From: <%= @current_user.name %>, <%= @current_user.email %>, <%= @feedback.role %>
</p>

<p>

	Clarity:  <%= @feedback.clarity %>

	Conciseness: <%= @feedback.conciseness %>

	Familiarity:  <%= @feedback.familiarity %>

	Responsiveness:  <%= @feedback.responsiveness %>

	Consistency:  <%= @feedback.consistency %>

	Attractiveness:  <%= @feedback.attractiveness %>

	Efficiency:  <%= @feedback.efficiency %>

	Forgiveness:  <%= @feedback.forgiving %>

	Informativeness:  <%= @feedback.informativeness %>

	Devices:  <%= @feedback.devices %>

	General comments: <%= @feedback.comments %>


</p>