<%= provide(:title, "Solutions") %>
<h1>
  Solutions
</h1><br>

<div>
<div class="menu">
		<%= render 'shared/menu' %>
	</div>



<div class="solutions">

<% if @course.solutions.any? %>
	<% @course.solutions.each do |solution| %>
		<ol>
		<span style="list-style-type: square; width: 150%;"><li>
		<%= link_to solution.answer_file_name,  solution.answer.url(:original),:target => '_blank' %>
		<% if !course_tutor?(@current_user, @course) %>
		- <%= User.find_by_id(solution.user_id).name %><%=' '%><%= solution.created_at.to_s(:long) %>
		<%='	|'%> <%= link_to "delete", course_solution_path(@course, solution.id), method: :delete, data: { confirm: "Are you sure you want to delete this file ?"} %>
		<% end %>
		</li></span>
		</ol>
	<% end %>
<% else %>
	<span style="float: left; font-size: 14pt;"><%= "None." %></span>
<% end %>	
<%= will_paginate @many_solutions %>
<% if !course_tutor?(@current_user, @course) %>
<div class="col-md-6 col-md-offset-1"><br><br>
	<%= render 'new' %>
</div>	
<% end %>
</div>
</div>